html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


@font-face {
  font-family: 'Myriad Apple';
  font-style: normal;
  font-weight: normal;
  src: url('../../Typeface/MYRIADAT.woff') format('woff');
}


.cartContainer {
  width: 100%;
  height: 1000px;
  padding-right: 15px;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containercartItem{
  width: 60%;
  height: 55%;
  margin-bottom: 5%;
}

.cartItem {
  width: 100%;
  border-radius: 25px;
}

.description {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.DescriptionFormation {
  width: 35%;
}

.TextDescriptionFormation {
  color: #1D1D1F;
  font-family: 'Myriad Apple';
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.4705882353;
  text-align: left;

}

.ContainerformationImage {
  display: flex;
  width: 75px;
  height: 90px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}



.formationImage {
  width: 65px;
  height: 81.25px;

}



.Items {
  border-top: 1px solid hsl(0, 4%, 90%);
  flex-direction: row;
  display: flex;
  border-bottom: 1px solid hsl(0, 4%, 90%);
  align-items: center;
}


.contHandler {
  display: flex;
  width: 120px;
  height: 32px;
  border: 1px solid #1D1D1F;
  flex-wrap: nowrap;
  justify-content: center;
}
.CartInput {

  height: 32px;
  display: table-cell;
  background-color: transparent;
  border: none;
  color: #1D1D1F;
  font-size: 1em;
  line-height: initial;
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
  width: 33.33333%;
  text-align: center !important;
}
.CartInputRemove{
  background-color: transparent;
  border-right: 1px solid #5d5d5d;
  text-align: center;
  width: 33.33333%;
}

.CartInputAdd{
  background-color: transparent;
  border-left: 1px solid #5d5d5d;
  text-align: center;
  width: 33.33333%;
}

.ContainerCheckout {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.BOX1description{
  width: 2%;
}

.BOX2description{
  width: 11%;
}

.BOX3description{
  width: 12%;
}

.BOX4description{
  width: 11%;

}



.checkout{
  width: 80%;
  height: 98%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}


.ContainerButtonCart{
  display: flex;
  width: 60%;
  height: 50%;
  align-items: center;
  justify-content: space-evenly;;

}

.DescriptionCart {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
}

.ContainerCartPanier{
 height: 100%;
}

.Box1cart{
  height: 100%;
  width: 31.7%;
}
 
.ContainerCartPrix{
  height: 100%;
}

.Box2cart{
  height: 100%;
  width: 14%;
}

.ContainerCartTotal{
  height: 100%;
}

.Box3cart{
  height: 100%;
  width: 10%;
}

.ContainerViderPanier{
  height: 100%;
}

.TextDescriptionCartPanier {
  position: static;
  color: #1D1D1F;
  font-family: 'Myriad Apple';
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.4705882353;
}

.TextDescriptionCartPrix {
  position: static;
  color: #1D1D1F;
  font-family: 'Myriad Apple';
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.4705882353;
}

.TextDescriptionCartTotal {
  position: static;
  color: #28282b;
  font-family: 'Myriad Apple';
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.4705882353;
}

.TextDescriptionViderPanier {
  position: static;
  color: #1D1D1F;
  font-family: 'Myriad Apple';
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.4705882353;
  text-decoration: underline;
}


.TotalcheckoutConteiner {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.Totalcheckout {
  color: #1D1D1F;
  font-family: 'Myriad Apple';
  font-size: 24px;
  font-weight: 600;
  letter-spacing: .009em;
  line-height: 1.1666666667;
}

.TotalcheckoutPrix {
  color: #666666;
  font-family: 'Myriad Apple';
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.009em;
  line-height: 1.1666666667;

}
.panier {
  font-family: 'Myriad Apple';

}

.ButtonContinuerAchats {
  width: 45%;
  height: 75%;
  border-radius: 12px;
  background-color: #C25B4B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ButtonPayement {
  width: 45%;
  height: 76%;
  border-radius: 12px;
  background-color: #141417;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ButtonPayementText {
  font-family: 'Myriad Apple';
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -.022em;
  line-height: 1.1764805882;
  color: white;
  
}

.ButtonContinuerAchatsText{
  color: #fff;
  font-family: 'Myriad Apple';
  font-size: 16px;
  font-weight: 800;
  letter-spacing: -.022em;
  line-height: 1.1764805882;
}

/*
width: 180vw;
height: 60vh;*/
.TextCart {
  position: absolute;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.4705882353;
  font-family: 'Myriad Apple';
  top: 40%; left: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
}


.textePetitCart {
  color: #1D1D1F;
  position: absolute;
  font-family: 'Myriad Apple';
  font-size: 14px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  top: 45%; left: 45.3%;


}

.price{
  font-family: 'Myriad Apple';
  font-size: 17px;
  font-weight: 600;

}

.ClearContainer{
  width: 16px;
  height: 16px;
  background-color: transparent;
}


.Clear{
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .Box1cart{
    height: 100%;
    width: 22%;
  }
  .DescriptionFormation {
    width: 30%;
  } 
  .TextDescriptionFormation {
    font-size: 12px;
  }
  .BOX2description {
    width: 11.5%;
  }
  .BOX3description {
    width: 11.2%;
  }
  .BOX4description {
    width: 11.8%;
  }
}

@media screen and (max-width: 1024px) {
  .TotalcheckoutPrix{
    font-size: 21px;
  }
  .Totalcheckout{
    font-size: 21px;
  }
  .containercartItem {
    width: 70%;
    height: 55%;
    margin-bottom: 5%;
  }
  .formationImage {
    width: 60px;
    height: 75px;
  }
  .TextDescriptionCartPanier {
    font-size: 30px;
  }
  .TextDescriptionCartPrix {
    font-size: 18px;
  }
  .TextDescriptionCartTotal {
    font-size: 18px;
  }
  .TextDescriptionViderPanier {
    font-size: 14px;
  }
  .DescriptionFormation {
    width: 30%;
  } 
  .TextDescriptionFormation {
    font-size: 12px;
  }
  .Box1cart{
    width: 25.5%;
  }
  .Box2cart{
    width: 14.5%;
  }
  .Box3cart{
    width: 10.8%;
  }
  .BOX2description {
    width: 11.5%;
  }
  .BOX3description {
    width: 10.2%;
  }
  .BOX4description {
    width: 11.8%;
  }
}
@media screen and (max-width: 834px) {
  .formationImage {
    width: 55px;
    height: 68.75px;
  }
  .TextDescriptionCartPanier {
    font-size: 25px;
  }
  .TextDescriptionCartPrix {
    font-size: 15px;
  }
  .TextDescriptionCartTotal {
    font-size: 15px;
  }
  .TextDescriptionViderPanier {
    font-size: 13px;
  }
  .TextDescriptionFormation {
    font-size: 11px;
  }
  .containercartItem {
    width: 78%;
    height: 55%;
    margin-bottom: 5%;
  }
  .DescriptionFormation {
    width: 36%;
  } 
  .Box1cart{
    width: 24.7%;
  }
  .Box2cart{
    width: 14.5%;
  }
  .Box3cart{
    width: 10.8%;
  }
  .BOX2description {
    width: 7.5%;
  }
  .BOX3description {
    width: 9.5%;
  }
  .BOX4description {
    width: 12.6%;
  }
  .price {
    font-size: 16px;
  }
  .contHandler {
    width: 100px;
  }
  .DescriptionFormation {
    width: 32%;
  }
  .ButtonPayementText {
    font-size: 17px;
  }
  .ButtonContinuerAchatsText {
    font-size: 14px;
  }
}
@media screen and (max-width: 490px) {
  .Items {
    border-top: 1px solid hsl(0, 4%, 90%);
    flex-direction: row;
    display: flex;
    border-bottom: 1px solid hsl(0, 4%, 90%);
    align-items: center;
    flex-wrap: wrap;
  }
  .containercartItem {
    width: 85%;
    height: 55%;
    margin-bottom: 5%;
  }
  .descriptionTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .descriptionBottom {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;
  }
  .DescriptionFormation {
    width: 70%;
  }
  .DescriptionFormation {
    width: 77%;
  }
  .BOX1description {
    width: 2%;
    height: 20px;
    background-color: #666666;
  }
  .BOX2description {
    width: 4%;
  }
  .BOX3description {
    width: 8%;
    height: 20px;
    background-color: #666666;
  }
  .BOX4description {
    width: 45%;
    height: 20px;
    background-color: #666666;
  } 
  .contHandler {
    width: 100px;
  }
  .checkout {
    width: 100%;
    height: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
  }
  .TotalcheckoutConteiner {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
  }
  .ContainerButtonCart {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .ButtonContinuerAchats {
    width: 85%;
    height: 35%;
    border-radius: 12px;
    background-color: #C25B4B;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ButtonPayement {
    width: 89%;
    height: 36%;
    border-radius: 12px;
    background-color: #141417;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .descriptionBottom {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .DescriptionCart {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

