
@font-face {
  font-family: 'Myriad Apple';
  font-style: normal;
  font-weight: normal;
  src: url('../../Typeface/MYRIADAT.woff') format('woff');
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  z-index: -1;
}
::-webkit-scrollbar-thumb {
  background-color: #84848486;
  border-radius: 20px;
  height: 4px;
}

html {
  /*background: url("./assets/testecentre.jpg") no-repeat top;*/
  background-color: #D3D3D3;

}





.BoxtextTitleShop1{
  width: 140px;
  height: 100%;

}

.TextShop {
  display: flex;
  flex-direction: row;
  height: 350px;
  flex-wrap: nowrap;
  align-items: center;
}
.BoxtextTitleShop2{
  width: 46.5%;
  height: 100%;
}
.shopTitle {
  font-family: 'Myriad Apple';
  font-size: 80px;
  z-index: 1;
  line-height: 1.05;
  font-weight: 600;
  Letter-spacing: -0.015em;
}
.BoxtextTitleShop3{
  width: 130px;
  height: 100%;

}


.shopSubTitle {
  font-family: 'Myriad Apple';
  font-size: 28px;
  z-index: 1;
  line-height: 1.14;
  font-weight: 600;
  letter-spacing: .007em;
}

.ImageIntroductionContainer {
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.ImageIntroduction {
  border-radius: 30px;
  height: 100%;
  width: 85%;
  overflow: hidden;
  display: flex;
  position: relative;
}

.formationsContainer{
  height: auto;
  width: 100%;
  margin-top: 1%;

}
.formations {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  z-index: 1;
}


.formation {
  border-radius: 5px;
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formation img {
  width: 150px;
}

.formation .description {
  text-align: center;
  font-family: 'Myriad Apple';
  font-size: 20px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.formation:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
