/*Logo en haut a gauche*/

.ButtonLogoCNMLeftUp {
    background-color: transparent;
  }
  
  .w-clearfix:before, .w-clearfix:after {
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
  }
  
  .w-clearfix:after {
    clear: both;
  }
  
  .nav {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 997;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  @media screen and (max-width: 767px) {
    .nav {
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }
  }
  
  
  .hero-link {
    display: inline-block;
  }
  
  
  @media screen and (max-width: 767px) {
    .hero-link {
        margin-top: 5px;
    }
  }
  
  
  @media screen and (max-width: 479px) {
    .hero-link {
        margin-top: 3px;
    }
  }
  
  
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  
  .CNM-logo {
    width: 140px;
  }
  
  @media screen and (max-width: 1441px) {
    .CNM-logo {
      width: 140px;
      padding-top: 5px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .CNM-logo {
        width: 108px;
    }
  }
  
  
  /*Plus d'offre en haut a droite*/
  
  .MoreProducts {
    position: absolute;
    top: 105%;
    left: 87%;
    width: 150px;
    height: 33px;
    background-color: #C25B4B;
    margin-top: -4vh;
    border-radius: 10px;
    text-align: center;
  }
  
  .MoreProductsText{
    margin-top: 1.2vh;
    font-family: 'Alexana';
    font-size: 13px;
  }