
@font-face {
  font-family: 'Myriad Apple';
  font-style: normal;
  font-weight: normal;
  src: url('../Typeface/MYRIADAT.woff') format('woff');
}


/*Logo en haut a gauche*/
a{
  text-decoration: none;
}

.ButtonLogoCNMLeftUp {
  display: flex;
  background-color: transparent;
}

.nav {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  z-index: 20;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1366px) {
  .nav {
    position: fixed;
    width: 100vw;
    height: 90px;
    display: flex;
    z-index: 20;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: url("./assets/testecentre.jpg") no-repeat top;

  }
  
}
@media screen and (max-width: 1280px) {
  .nav {
    position: fixed;
    width: 100vw;
    height: 90px;
    display: flex;
    z-index: 20;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
}
@media screen and (max-width: 1024px) {
  .nav {
    position: fixed;
    width: 100vw;
    height: 90px;
    display: flex;
    z-index: 20;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
}



.BNavInContainer{
  border-radius: 10px;
  display: flex;
  width: 96%;
  height: 46px;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.NavInContainer{
  border-radius: 10px;
  display: flex;
  width: 96%;
  height: 46px;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  backdrop-filter:blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
}


.CNM-logo {
  width: 140px;
  height: 100%;
}



/*Plus d'offre en haut a droite*/

.BOXNAVBARRE1 {
  width: 1%;
  height: 100%;
}

.BOXNAVBARRE2 {
  width: 78.5%;
  height: 100%;
}

.BOXNAVBARRE3 {
  width: 0.5%;
  height: 100%;
}

.BOXNAVBARRE4 {
  width: 1%;
  height: 100%;
}

.MoreProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 34px;
  background-color: #D76350;
  border-radius: 10px;
}

.MoreProductsText{
  color: #FFFFFF;
  text-decoration: none !important;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .007em;
  font-family: "Myriad Apple";
}

.Cart {
  height: 35px;
  text-align: center;
}

.CartContainer {
  background-color: transparent;
}

/*background: url("./assets/testecentre.jpg") no-repeat top;*/
