html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



@font-face {
  font-family: 'Alexana';
  font-style: normal;
  font-weight: normal;
  src: url('./Typeface/Alexana.woff') format('woff');
}



html {
  background-color: #D3D3D3;
  overflow: hidden;


}

body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.ContainerSite {
  right: -30px;
  padding-right: 15px;
  z-index: -1;

}

/*------------------------------------------------------------------------------------------------*/

/*Logo au debut au centre qui disparrait vers le bas*/

.LogoCnmStartContainer {
  position: absolute;
  top: 47.4%; left: 49.9%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  margin-top: 0vh;
  z-index: 1;
}

.LogoCnmStart {
  width: 20h;
  height: 5.89vh;
  contain-intrinsic-block-size: auto 100px;
  transform-style: preserve-3d;
  will-change: transform;
}

/*2561PX MAX*/

@media screen and (max-width: 2561px) {
  .LogoCnmStartContainer {
    position: absolute;
    top: 48%; left: 49.9%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 1;
  }
}


@media screen and (max-width: 2561px) {

  .LogoCnmStart {
    width: 17h;
    height: 5vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}


/*1921PX MAX*/

@media screen and (max-width: 1921px) {
  .LogoCnmStartContainer {
    position: absolute;
    top: 48.2%; left: 49.9%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 1;
  }
}


@media screen and (max-width: 1921px) {

  .LogoCnmStart {
    width: 15h;
    height: 4vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}

/*479PX MAX*/
@media screen and (max-width: 479px) {
  .LogoCnmStartContainer {
    position: absolute;
    top: 48.2%; left: 49.9%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 1;
  }
}

@media screen and (max-width: 479px) {

  .LogoCnmStart {
    width: 14h;
    height: 4vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}
/*------------------------------------------------------------------------------------------------*/

/*Rectangle start ouverture*/

.RectangleStart {
  height: 50%;
  width: 100%;
  position: fixed;
  left: 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.BoxStartUp {
  top: 0%;
  background-color: #C55C4A;
  z-index: 0;
}

.BoxStartDown {
  top: 50%;
  background-color: #C55C4A;
  z-index: 2;

}
/*------------------------------------------------------------------------------------------------*/

/*Logo after Intro/Start*/
/*MAX*/

.LogoCnmAfterStartContainer {
  position: absolute;
  top: 50%; left: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  margin-top: 0vh;
  z-index: -3;
}


.LogoCnmAfterStartContainerPostIntro {
  position: absolute;
  top: 50%; left: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  margin-top: 0vh;
  z-index: -3;
}

.LogoCnmAfterStart {
  width: 100vh;
  height: 30vh;
  contain-intrinsic-block-size: auto 100px;
  transform-style: preserve-3d;
  will-change: transform;
}

/*2561PX MAX*/

@media screen and (max-width: 2561px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 48%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
}


@media screen and (max-width: 2561px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 20vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}


/*1921PX MAX*/

@media screen and (max-width: 1921px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 48.5%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
}


@media screen and (max-width: 1921px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 20vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}

@media screen and (max-width: 1921px) {

  .LogoCnmAfterStartpostIntro {
    width: 100vh;
    height: 20vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;
    scale: 0.7;
    opacity: 0.2;
    filter: blur(3.5px);
    transform: translateY(-2.2%);

  }
}


/*1441PX MAX*/

@media screen and (max-width: 1441px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 49%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
}


@media screen and (max-width: 1441px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 18vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}
/* 1366 MAX*/

@media screen and (max-width: 1366px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 52%; left: 48.5%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
}

/* 1280 MAX*/

@media screen and (max-width: 1280px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 53%; left: 49%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
}


@media screen and (max-width: 1280px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 18vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}

@media screen and (max-width: 1280px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 53%; left: 49%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
}

/*768PX MAX*/
@media screen and (max-width: 768px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 12vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;
  }
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 52%; left: 48.0%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
}


@media screen and (max-width: 479px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 11vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}
@media screen and (max-width: 430px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 46.6%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
  .LogoCnmAfterStart {
    width: 100vh;
    height: 6.7vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}
/*------------------------------------------------------------------------------------------------*/

/*Rectangle Mid Formation*/


.containerFormationRectangle {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%; left: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0vh;
  z-index: -3;

}  


@media screen and (max-width: 1921px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vh;
    height: 100vh;
    top: 49%; left:49.8%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}
@media screen and (max-width: 1440px) {
  .containerFormationRectangle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%; left: 48.6%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}
@media screen and (max-width: 1366px) {
  .containerFormationRectangle {
    position: absolute;
    width: 110vw;
    height: 102vh;
    top: 50%; left: 49.2%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}
@media screen and (max-width: 1280px) {
  .containerFormationRectangle {
    position: absolute;
    width: 110vw;
    height: 100vh;
    top: 50%; left: 49.3%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  }  
}


@media screen and (max-width: 1024px) {
  .containerFormationRectangle {
    position: absolute;
    width: 150vw;
    height: 90vh;
    top: 50%; left: 49.1%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 821px) {
  .containerFormationRectangle {
    position: absolute;
    width: 160vw;
    height: 75vh;
    top: 48.5%; left: 46.8%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 768px) {
  .containerFormationRectangle {
    position: absolute;
    width: 140vw;
    height: 105vh;
    top:53%; left: 47.3%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}


@media screen and (max-width: 430px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 75vh;
    top: 50%; left: 46%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 414px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 70vh;
    top: 50%; left: 45.5%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 390px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 70vh;
    top: 50%; left: 45%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 375px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 70vh;
    top: 50%; left: 44.8%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}
@media screen and (max-width: 320px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 70vh;
    top: 50%; left: 43.3%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

.containerSliderFormationP {
  z-index: 20;
  position: absolute;
  width: 190px;
  height: 83.98px;
  left: 44.65%;
  top: 56%;
  background: transparent;

}
@media screen and (max-width: 1440px) {
  .containerSliderFormationP {
    z-index: 20;
    position: absolute;
    width: 190px;
    height: 83.98px;
    left: 44.9%;
    top: 56%;
    background: transparent;
  
  }
  
}

@media screen and (max-width: 1366px) {
  .containerSliderFormationP {
    z-index: 20;
    position: absolute;
    width: 172px;
    height: 80px;
    left: 45%;
    top: 54%;
    background: transparent;
  }
  
}
@media screen and (max-width: 1280px) {
  .containerSliderFormationP {
    z-index: 20;
    position: absolute;
    width: 180px;
    height: 75px;
    left: 44.25%;
    top: 53%;
    background: transparent;
  
  }
  
}
@media screen and (max-width: 1024px) {
  .containerSliderFormationP {
    z-index: 20;
    position: absolute;
    width: 165px;
    height: 55px;
    left: 45.2%;
    top: 54%;
    background: transparent;
  
  }
  
}
@media screen and (max-width: 768px) {
  .containerSliderFormationP {
    z-index: 20;
    position: absolute;
    width: 145px;
    height: 70px;
    left: 45.2%;
    top: 55%;
    background: transparent;
  
  }
  
}
@media screen and (max-width: 430px) {
  .containerSliderFormationP {
    z-index: 20;
    position: absolute;
    width: 100px;
    height: 41px;
    left: 45.7%;
    top: 56%;
    background: transparent;
  
  }
  
}
@media screen and (max-width: 320px) {
  .containerSliderFormationP {
    z-index: 20;
    position: absolute;
    width: 100px;
    height: 41px;
    left: 45%;
    top: 56%;
    background: transparent;
  
  }
  
}
