@font-face {
  font-family: 'Alexana';
  font-style: normal;
  font-weight: normal;
  src: url('./Typeface/Alexana.woff') format('woff');
}



html {
  overflow: hidden; /* Hide scrollbars */
  /*background: url("./assets/testecentre.jpg") no-repeat top;*/
  background-color: #D3D3D3;
}

/*------------------------------------------------------------------------------------------------*/

/*Logo au debut au centre qui disparrait vers le bas*/

.LogoCnmStartContainer {
  position: absolute;
  top: 47.4%; left: 49.9%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  margin-top: 0vh;
  z-index: 1;
}

.LogoCnmStart {
  width: 20h;
  height: 5.89vh;
  contain-intrinsic-block-size: auto 100px;
  transform-style: preserve-3d;
  will-change: transform;
}

/*2561PX MAX*/

@media screen and (max-width: 2561px) {
  .LogoCnmStartContainer {
    position: absolute;
    top: 48%; left: 49.9%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 1;
  }
}


@media screen and (max-width: 2561px) {

  .LogoCnmStart {
    width: 17h;
    height: 5vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}


/*1921PX MAX*/

@media screen and (max-width: 1921px) {
  .LogoCnmStartContainer {
    position: absolute;
    top: 48.2%; left: 49.9%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 1;
  }
}


@media screen and (max-width: 1921px) {

  .LogoCnmStart {
    width: 15h;
    height: 4vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}

/*479PX MAX*/
@media screen and (max-width: 479px) {
  .LogoCnmStartContainer {
    position: absolute;
    top: 48.2%; left: 49.9%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 1;
  }
}

@media screen and (max-width: 479px) {

  .LogoCnmStart {
    width: 14h;
    height: 4vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}
/*------------------------------------------------------------------------------------------------*/

/*Rectangle start ouverture*/

.RectangleStart {
  height: 50%;
  width: 100%;
  position: fixed;
  left: 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.BoxStartUp {
  top: 0%;
  background-color: #C25B4B;
  z-index: 0;
}

.BoxStartDown {
  top: 50%;
  background-color: #C25B4B;
  z-index: 2;

}
/*------------------------------------------------------------------------------------------------*/

/*Logo after Intro/Start*/
/*MAX*/

.LogoCnmAfterStartContainer {
  position: absolute;
  top: 50%; left: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  margin-top: 0vh;
  z-index: 3;
}


.LogoCnmAfterStart {
  width: 100vh;
  height: 30vh;
  contain-intrinsic-block-size: auto 100px;
  transform-style: preserve-3d;
  will-change: transform;
}

/*2561PX MAX*/

@media screen and (max-width: 2561px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 48%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 3;
  }
}


@media screen and (max-width: 2561px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 20vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}


/*1921PX MAX*/

@media screen and (max-width: 1921px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 49%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 3;
  }
}


@media screen and (max-width: 1921px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 20vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}

/*1441PX MAX*/

@media screen and (max-width: 1441px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 49%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 3;
  }
}


@media screen and (max-width: 1441px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 18vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}




/*479PX MAX*/
@media screen and (max-width: 479px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 49.0%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 3;
  }
}


@media screen and (max-width: 479px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 11vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}
/*------------------------------------------------------------------------------------------------*/
/*Logo en haut a gauche*/

.ButtonLogoCNMLeftUp {
  background-color: transparent;
}

.w-clearfix:before, .w-clearfix:after {
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-clearfix:after {
  clear: both;
}

.nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 997;
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
}

@media screen and (max-width: 767px) {
  .nav {
      padding-top: 20px;
      padding-right: 30px;
      padding-left: 30px;
  }
}


.hero-link {
  display: inline-block;
}


@media screen and (max-width: 767px) {
  .hero-link {
      margin-top: 5px;
  }
}


@media screen and (max-width: 479px) {
  .hero-link {
      margin-top: 3px;
  }
}


.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.CNM-logo {
  width: 140px;
}

@media screen and (max-width: 1441px) {
  .CNM-logo {
    width: 140px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 479px) {
  .CNM-logo {
      width: 108px;
  }
}


/*Plus d'offre en haut a droite*/

.MoreProducts {
  position: absolute;
  top: 105%;
  left: 87%;
  width: 150px;
  height: 33px;
  background-color: #C25B4B;
  margin-top: 0.5vh;
  border-radius: 10px;
  text-align: center;
}

.MoreProductsText{
  margin-top: 1.2vh;
  font-family: 'Alexana';
  font-size: 13px;
  color: black;
}
/*------------------------------------------------------------------------------------------------*/

/*Rectangle Mid Formation*/


.containerFormationRectangle {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%; left: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0vh;
  z-index: 3;

}  


@media screen and (max-width: 1921px) {
  .containerFormationRectangle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 48%; left: 49.8%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: 3;
  
  }  
}
@media screen and (max-width: 1440px) {
  .containerFormationRectangle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%; left: 48.6%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: 3;
  
  }  
}

@media screen and (max-width: 1025px) {
  .containerFormationRectangle {
    position: absolute;
    width: 150vw;
    height: 80vh;
    top: 50%; left: 47%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: 3;
  
  }  
}

@media screen and (max-width: 821px) {
  .containerFormationRectangle {
    position: absolute;
    width: 160vw;
    height: 75vh;
    top: 48.5%; left: 46.8%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: 3;
  
  }  
}

@media screen and (max-width: 768px) {
  .containerFormationRectangle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%; left: 43%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: 3;
  
  }  
}

@media screen and (max-width: 431px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 70vh;
    top: 50%; left: 45%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: 3;
  
  }  
}

@media screen and (max-width: 414px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 70vh;
    top: 50%; left: 44.3%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: 3;
  
  }  
}

@media screen and (max-width: 391px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 70vh;
    top: 50%; left: 43.7%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: 3;
  
  }  
}

@media screen and (max-width: 360px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 60vh;
    top: 50%; left: 42.5%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: 3;
  
  }  
}

.FormationRectangle {
  position: absolute;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
@media screen and (max-width: 1921px) {
  .FormationRectangle {
    position: absolute;
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

  }
}
@media screen and (max-width: 1441px) {
  .FormationRectangle {
    position: absolute;
    width: 184px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
}
@media screen and (max-width: 768px) {
  .FormationRectangle {
    position: absolute;
    width: 184px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
}
@media screen and (max-width: 479px) {
  .FormationRectangle {
    position: absolute;
    width: 120px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
}



.arrow-left, .arrow-right {
  position: absolute;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 3;
}

.arrow-left {
  top: 75vh;
  left: 89vh;
  z-index: 4;
}

.arrow-right {
  top: 75vh;
  right: 88vh;
  z-index: 4;
}