@font-face {
  font-family: 'Alexana';
  font-style: normal;
  font-weight: normal;
  src: url('./Typeface/Alexana.woff') format('woff');
}



html {
  /*background: url("./assets/testecentre.jpg") no-repeat top;*/
  background-color: #D3D3D3;
}

.ContainerSite {
  position: absolute;
  left: 0;
  top: 0;
  right: -30px;
  bottom: 0;	
  padding-right: 15px;
  overflow-y: scroll;
  z-index: -1;

}

/*------------------------------------------------------------------------------------------------*/

/*Logo au debut au centre qui disparrait vers le bas*/

.LogoCnmStartContainer {
  position: absolute;
  top: 47.4%; left: 49.9%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  margin-top: 0vh;
  z-index: 1;
}

.LogoCnmStart {
  width: 20h;
  height: 5.89vh;
  contain-intrinsic-block-size: auto 100px;
  transform-style: preserve-3d;
  will-change: transform;
}

/*2561PX MAX*/

@media screen and (max-width: 2561px) {
  .LogoCnmStartContainer {
    position: absolute;
    top: 48%; left: 49.9%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 1;
  }
}


@media screen and (max-width: 2561px) {

  .LogoCnmStart {
    width: 17h;
    height: 5vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}


/*1921PX MAX*/

@media screen and (max-width: 1921px) {
  .LogoCnmStartContainer {
    position: absolute;
    top: 48.2%; left: 49.9%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 1;
  }
}


@media screen and (max-width: 1921px) {

  .LogoCnmStart {
    width: 15h;
    height: 4vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}

/*479PX MAX*/
@media screen and (max-width: 479px) {
  .LogoCnmStartContainer {
    position: absolute;
    top: 48.2%; left: 49.9%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: 1;
  }
}

@media screen and (max-width: 479px) {

  .LogoCnmStart {
    width: 14h;
    height: 4vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}
/*------------------------------------------------------------------------------------------------*/

/*Rectangle start ouverture*/

.RectangleStart {
  height: 50%;
  width: 100%;
  position: fixed;
  left: 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.BoxStartUp {
  top: 0%;
  background-color: #C25B4B;
  z-index: 0;
}

.BoxStartDown {
  top: 50%;
  background-color: #C25B4B;
  z-index: 2;

}
/*------------------------------------------------------------------------------------------------*/

/*Logo after Intro/Start*/
/*MAX*/

.LogoCnmAfterStartContainer {
  position: absolute;
  top: 50%; left: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  margin-top: 0vh;
  z-index: -3;
}

.LogoCnmAfterStartContainerPostIntro {
  position: absolute;
  top: 50%; left: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  margin-top: 0vh;
  z-index: -3;
}

.LogoCnmAfterStart {
  width: 100vh;
  height: 30vh;
  contain-intrinsic-block-size: auto 100px;
  transform-style: preserve-3d;
  will-change: transform;
}

/*2561PX MAX*/

@media screen and (max-width: 2561px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 48%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
}


@media screen and (max-width: 2561px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 20vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}


/*1921PX MAX*/

@media screen and (max-width: 1921px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 49%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
}


@media screen and (max-width: 1921px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 20vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}

@media screen and (max-width: 1921px) {

  .LogoCnmAfterStartpostIntro {
    width: 100vh;
    height: 20vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;
    scale: 0.7;
    opacity: 0.2;
    filter: blur(3.5px);
    transform: translateY(-2.2%);

  }
}


/*1441PX MAX*/

@media screen and (max-width: 1441px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 49%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
}


@media screen and (max-width: 1441px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 18vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}




/*479PX MAX*/
@media screen and (max-width: 479px) {
  .LogoCnmAfterStartContainer {
    position: absolute;
    top: 50%; left: 49.0%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    margin-top: 0vh;
    z-index: -3;
  }
}


@media screen and (max-width: 479px) {

  .LogoCnmAfterStart {
    width: 100vh;
    height: 11vh;
    contain-intrinsic-block-size: auto 100px;
    transform-style: preserve-3d;
    will-change: transform;

  }
}
/*------------------------------------------------------------------------------------------------*/

/*Rectangle Mid Formation*/


.containerFormationRectangle {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%; left: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0vh;
  z-index: -3;

}  


@media screen and (max-width: 1921px) {
  .containerFormationRectangle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 48%; left: 49.8%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}
@media screen and (max-width: 1440px) {
  .containerFormationRectangle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%; left: 48.6%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 1025px) {
  .containerFormationRectangle {
    position: absolute;
    width: 150vw;
    height: 80vh;
    top: 50%; left: 47%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 821px) {
  .containerFormationRectangle {
    position: absolute;
    width: 160vw;
    height: 75vh;
    top: 48.5%; left: 46.8%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 768px) {
  .containerFormationRectangle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%; left: 43%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 431px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 70vh;
    top: 50%; left: 45%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 414px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 70vh;
    top: 50%; left: 44.3%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 391px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 70vh;
    top: 50%; left: 43.7%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

@media screen and (max-width: 360px) {
  .containerFormationRectangle {
    position: absolute;
    width: 180vw;
    height: 60vh;
    top: 50%; left: 42.5%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    z-index: -3;
  
  }  
}

